window-rule {
    geometry-corner-radius 6
    clip-to-geometry true
}

window-rule {
    match app-id=r#"^org\.wezfurlong\.wezterm$"#
    default-column-width {}
}

window-rule {
    match app-id=r#"firefox$"# title="^Picture-in-Picture$"
    open-floating true
}

window-rule {
    match app-id="^com.gabm.satty$"
    open-floating true
}

window-rule {
    match app-id=r#"^ember\.tui$"#
    open-floating true
    default-column-width { fixed 800; }
    default-window-height { fixed 650; }
    background-effect {
        blur true
        xray false
    }
}

// Indicate screencasted windows with red colors.
window-rule {
    match is-window-cast-target=true

    focus-ring {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }
    border {
        inactive-color "#7d0d2d"
    }
    shadow {
        color "#7d0d2d70"
    }
    tab-indicator {
        active-color "#f38ba8"
        inactive-color "#7d0d2d"
    }
}
